    body {
        background-color: rgb(255, 255, 255);
        color: black;
        font-family: 'Arial', sans-serif;
    }

    .navbar {
        margin-bottom: 30px;
        background-color: gray;
        color: white;
    }
    
    .card {
        margin-bottom: 20px;
        background-color: white;
        color: black;
    }
    
    .comment-list {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
        color: black;
    }
  
    .comment-form {
        margin-top: 10px;
        background-color: white;
        color: black;
    }

    #postSubmit {
        margin-top: 10px;
    }
